@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css');
/* Inter(en) + Noto San(ko) + M PLUS 1p(ja) by orioncactus*/
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-bluearchive-botton-blue: #77e0ff;
  --color-bluearchive-botton-yellow: #f6e94b;
  --color-bluearchive-botton-gray: #e0e0e0;
  --shadow-bluearchive: #111 0px 0px 0px 0.5px;
  --shadow-bluearchive-xl: #ddd 1px 2px 2px 1px;
  --font-bluearchive: "GyeonggiTitle", "Inter", "Pretendard JP Variable"; /* RoG2サンセリフStdN is non-free */
  --font-pretendard: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}


html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "GyeonggiTitle";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/GyeonggiTitle_Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+20-17F, U+2B0-2FF, U+2000-206F, U+20A0-20CF, U+2100-21FF, U+2600-26FF, U+AC00-D7A3, U+3131-318E;
  /* Latin and Ko */
}
@font-face {
  font-family: "GyeonggiTitle";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/GyeonggiTitle_Medium.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+20-17F, U+2B0-2FF, U+2000-206F, U+20A0-20CF, U+2100-21FF, U+2600-26FF, U+AC00-D7A3, U+3131-318E;
}
@font-face {
  font-family: "GyeonggiTitle";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GyeonggiTitle_Bold.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+20-17F, U+2B0-2FF, U+2000-206F, U+20A0-20CF, U+2100-21FF, U+2600-26FF, U+AC00-D7A3, U+3131-318E;
}
@font-face {
  font-family: "GyeonggiTitle";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/GyeonggiTitle_Light.woff2") format("woff2");
  font-display: swap;
  unicode-range: U+20-17F, U+2B0-2FF, U+2000-206F, U+20A0-20CF, U+2100-21FF, U+2600-26FF, U+AC00-D7A3, U+3131-318E;
}
